header.header
    a.a-link(href="/") 
        img(src="/img/mountain-48.png", alt="brand picture" class="logo" ) 

    .btn-container
        a(class="btn-container__link" ,href="/coredetail") 
            button.btn-container__core-detail CORE DETAIL 
        a(class="btn-container__link" ,href='/innerfintube') 
            button.btn-container__component-part COMPONENT PART 
        a(class="btn-container__link" ,href='/createcore') 
            button.btn-container__add-new-core ADD NEW CORE
        a(class="btn-container__link" ,href="#") 
            button.btn-container__add-new-qpoint ADD NEW Q-POINT

    nav.user-nav 
        .user-nav__user 
            img(src="/img/User/user.jpg", alt="UserPhoto" ,class="user-nav__user-photo")
            span.user-nav__user-name Jack

