header.header
    a.a-link(href="/") 
        img(src="/img/Logo/Denso_Logo.png", alt="brand picture" class="logo" ) 

    .btn-container
        a(class="btn-container__link" ,href="/qpointlist") 
            button.btn-container__add-new-qpoint Q-POINT LIST
        a(class="btn-container__link" ,href="/coredetail") 
            button.btn-container__core-detail CORE DETAIL 
        a(class="btn-container__link" ,href='/innerfintube') 
            button.btn-container__component-part COMPONENT PART 
        //- a(class="btn-container__link" ,href='#') 
        //-     button.btn-container__add-new-core SOMETHING
        //- a(class="btn-container__link" ,href="#") 
        //-     button.btn-container__add-new-qpoint SOMETHING

    nav.user-nav 
        .user-nav__user 
            img(src="/img/User/default.png", alt="UserPhoto" ,class="user-nav__user-photo")
            span.user-nav__user-name Jack

