doctype html 
html 

    head 
      block head
        title Structures 
        meta(charset='UTF-8')
        meta(name="viewport" , content="width=device-width, initial-scale=1.0" )
        //- style 
        //-   include ../node_modules/bootstrap/dist/css/bootstrap.css
        link(rel="stylesheet", href="/style.css")
        //- link(rel="stylesheet", href="/main.scss")
        link(rel="stylesheet", href="/bootstrap/dist/css/bootstrap.css")
        //- link(rel="stylesheet", href="../node_modules/bootstrap/dist/css/bootstrap.css")
        
        
          
    body
      .container__body 
        //- Header 
        include _header
        //- Content
        block content
        //-footer
        

      script(src= "/js/bundler.js")