$color-gray-light: #a8a8a8;
$color-gray-light-1: #9b9b9b;
$color-gray-light-2: #727272;
$color-gray-dark: #323536;
$color-black-dark: #1a1d1f;
$color-black: #000000;
$color-white: #ffffff;
$color-red-light: #880000;
$color-red-dark: #4d0404;
$color-shadow: 0 2rem 6rem $color-black-dark;
$color-shadow-btn: 0.5rem 0.5rem 0.7rem $color-black;
$color-shadow-tab: 0.5rem -0.5rem 1rem $color-gray-dark;
$color-shadow-transfrom: 1rem 3rem 6rem $color-black-dark;
$color-yello-1: #ffd900;
