* {
  margin: 0;
  padding: 0; }

*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: Verdana;
  line-height: 1.6;
  background-image: linear-gradient(0deg, #4d0404, #880000);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh; }

.container__body {
  max-width: 120rem;
  margin: 2.5rem auto;
  background-color: #a8a8a8;
  box-shadow: 0 2rem 6rem #1a1d1f;
  min-height: 50rem; }

.container-body {
  margin-top: 0;
  margin-left: 5rem;
  margin-right: 5rem;
  margin-bottom: 0;
  background-color: #323536;
  color: #ffffff; }

.content {
  margin-top: 0;
  display: flex; }

.sidebar {
  background-color: #323536;
  flex: 0 0 20%; }

.qpoint-view {
  background-color: #9b9b9b;
  flex: 1; }

.sidebar-form {
  flex: 0 0 40%;
  display: flex;
  align-items: center;
  justify-content: center; }
  .sidebar-form__search-input {
    background-color: #ffffff;
    font-family: inherit;
    border-radius: 10rem;
    border-style: none;
    margin: 0.5rem -2.5rem 0.5rem 0rem;
    padding: 0.5rem;
    font-size: 1.3rem; }
    .sidebar-form__search-input:focus {
      outline: none; }
  .sidebar-form__search-button {
    border: none;
    background-color: #ffffff;
    border-radius: 50%; }
  .sidebar-form__search-icon {
    height: 2rem;
    width: 2rem; }

.sidebar-content {
  display: flex;
  width: inherit; }

.side-nav {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  font-weight: bolder;
  list-style: none;
  height: 70rem; }
  .side-nav__item {
    position: relative; }
    .side-nav__item:not(:last-child) {
      margin-bottom: 0.5rem; }
  .side-nav__item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: #880000;
    transform: scaleY(0);
    transform-origin: center;
    transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s; }
  .side-nav__item:hover::before {
    transform: scaleY(1);
    width: 100%; }
  .side-nav__link:link, .side-nav__link:visited {
    display: block;
    color: #ffffff;
    text-decoration: none;
    padding: 0.5rem 3.5rem;
    position: relative;
    z-index: 10px; }

.sidebar-content {
  display: flex;
  margin-right: 0.3rem;
  width: inherit;
  height: inherit;
  overflow-y: scroll;
  scrollbar-color: rebeccapurple green;
  scrollbar-width: thin; }

.qpoint-heading {
  font-family: inherit; }
  .qpoint-heading__head {
    font-size: 3rem;
    box-shadow: 0 2rem 6rem #1a1d1f;
    display: flex;
    background-color: #a8a8a8;
    padding: 1.5rem 0 1.5rem 2rem; }
  .qpoint-heading__model {
    flex: 1, 0, 100%; }
  .qpoint-heading__part-no, .qpoint-heading__pipe, .qpoint-heading__model {
    margin-right: 1rem; }

.qpoint-viewer__card {
  margin: 3rem;
  padding: 1rem;
  flex: 0, 0, 100%;
  background-color: #ffffff;
  box-shadow: 0 2rem 6rem #1a1d1f;
  display: flex;
  align-content: center;
  justify-content: center; }

.qpoint-viewer__img {
  max-width: 80rem; }

.header {
  font-family: inherit;
  display: flex;
  height: 7rem;
  background-color: #323536;
  border-bottom: #a8a8a8;
  justify-content: space-between;
  align-items: center; }

.logo {
  height: 4.25rem; }

.btn-container {
  font-family: inherit;
  flex-shrink: 0;
  flex-wrap: nowrap; }
  .btn-container__link:link {
    text-decoration: none; }
  .btn-container__core-detail, .btn-container__component-part, .btn-container__add-new-core, .btn-container__add-new-qpoint {
    margin: 5px 10px;
    padding: 10px 25px 10px 25px;
    border-radius: 10rem;
    border-style: none;
    box-shadow: 0.5rem 0.5rem 0.7rem #000000;
    background-color: #880000;
    font-weight: bolder;
    font-size: 1.3rem;
    color: #ffffff;
    transition: 0.2s; }
    .btn-container__core-detail:hover, .btn-container__component-part:hover, .btn-container__add-new-core:hover, .btn-container__add-new-qpoint:hover {
      transform: translateY(-2px); }

.user-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2rem; }
  .user-nav__user-photo {
    height: 4rem;
    border-radius: 50%;
    margin-right: 1.5rem; }
  .user-nav__user-name {
    color: #ffffff;
    font-size: 1.5rem; }

.list-nav {
  display: flex;
  list-style: none;
  text-decoration: none;
  color: #ffffff; }

.list-nav:hover {
  text-decoration: none;
  color: #ffffff; }

.a-link {
  text-decoration: none;
  margin: 0;
  padding: 0;
  border: none;
  color: #ffffff;
  font-size: 90%; }

.list--card {
  font-size: 90%; }

.list-partNo {
  margin: 7px auto;
  text-align: center;
  list-style: none;
  text-decoration: none; }
  .list-partNo:hover {
    background-color: #a8a8a8; }

.btn-innav {
  margin-right: 10px;
  margin-left: 10px;
  padding: 0.5rem;
  text-decoration: none;
  border-radius: 10rem;
  border-style: none;
  background-color: #880000;
  box-shadow: none;
  color: #ffffff; }

.btn-innav:hover {
  text-decoration: none;
  box-shadow: 5px 5px 5px #323536;
  color: #ffffff; }

.btn-core-card {
  margin-right: 10px;
  margin-left: 10px;
  padding: 0.5rem;
  padding-left: 5rem;
  padding-right: 5rem;
  text-decoration: none;
  border-radius: 10rem;
  background-color: #880000;
  box-shadow: none;
  color: #ffffff;
  border-style: none; }

footer {
  display: block;
  padding: 0.5rem;
  text-align: center;
  color: #ffffff;
  font-size: 80%; }

.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.75);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s; }
  .popup:target {
    opacity: 1;
    visibility: visible; }
  .popup__content {
    width: 75%;
    background-color: #4d0404;
    box-shadow: 0 2rem 6rem #1a1d1f;
    border-radius: 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.list-nav {
  display: flex;
  list-style: none;
  text-decoration: none;
  color: #ffffff; }

.list-nav:hover {
  text-decoration: none;
  color: #ffffff; }

.a-link {
  text-decoration: none;
  margin: 0;
  padding: 0;
  border: none;
  color: #ffffff;
  font-size: 90%; }

.list--card {
  font-size: 90%; }

.list-partNo {
  margin: 7px auto;
  text-align: center;
  list-style: none;
  text-decoration: none; }
  .list-partNo:hover {
    background-color: #a8a8a8; }

.btn-innav {
  margin-right: 10px;
  margin-left: 10px;
  padding: 0.5rem;
  text-decoration: none;
  border-radius: 10rem;
  border-style: none;
  background-color: #880000;
  box-shadow: none;
  color: #ffffff; }

.btn-innav:hover {
  text-decoration: none;
  box-shadow: 5px 5px 5px #323536;
  color: #ffffff; }

.btn-core-card {
  margin-right: 10px;
  margin-left: 10px;
  padding: 0.5rem;
  padding-left: 5rem;
  padding-right: 5rem;
  text-decoration: none;
  border-radius: 10rem;
  background-color: #880000;
  box-shadow: none;
  color: #ffffff;
  border-style: none; }

.box-card {
  display: flex;
  box-shadow: 10px 20px 20px #130f0f;
  background-color: #752c2c;
  padding: 10px;
  margin: 50px 50px 50px 20px;
  justify-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 22px; }

.picProp {
  margin: 20px;
  max-width: 250px;
  height: auto;
  border-radius: 20px; }

.column {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 22px;
  /* margin: 20px; */
  /* padding: 20px; */ }

.card-component {
  display: flex;
  box-shadow: 10px 20px 20px #afa7a7;
  background-color: #a9c5df;
  padding: 10px;
  margin: 50px 50px 50px 50px;
  justify-items: center; }

.tab-left {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background-color: brown;
  /* float: left;
      width: 30%;
      height: 300px;
      background-color: brown; */ }

.borderbox {
  border-color: #6e7f8b; }

.btn-innav {
  margin-right: 10px;
  margin-left: 10px;
  padding: 0.5rem;
  text-decoration: none;
  border-radius: 10rem;
  border-style: none;
  background-color: #880000;
  box-shadow: none;
  color: #ffffff; }

.btn-innav:hover {
  text-decoration: none;
  box-shadow: 5px 5px 5px #323536;
  color: #ffffff; }

.btn-core-card {
  margin-right: 10px;
  margin-left: 10px;
  padding: 0.5rem;
  padding-left: 5rem;
  padding-right: 5rem;
  text-decoration: none;
  border-radius: 10rem;
  background-color: #880000;
  box-shadow: none;
  color: #ffffff;
  border-style: none; }

.product__core-card {
  margin: 3rem;
  background-color: #323536;
  border-radius: 2rem;
  padding: 2rem;
  color: #ffffff;
  font-family: inherit;
  box-shadow: 0 2rem 6rem #1a1d1f; }
  .product__core-card-head {
    display: flex;
    border-bottom: 1px solid #ffffff; }
    .product__core-card-head-h1 {
      padding: 1rem 3rem;
      font-family: inherit;
      flex: 0 0 40%;
      text-transform: uppercase; }
  .product__core-card-properties {
    padding: 3rem; }
    .product__core-card-properties-list {
      list-style: none;
      display: flex; }
    .product__core-card-properties-item {
      flex: 0 0 40%;
      font-size: 2rem;
      font-weight: bold;
      text-transform: uppercase; }
    .product__core-card-properties-img {
      max-width: 30rem;
      max-height: 20rem;
      border-radius: 1rem;
      box-shadow: 0.5rem 0.5rem 0.7rem #000000; }

.product__part-card-link:link {
  text-decoration: none;
  font-family: inherit;
  color: #ffffff; }

.product__part-card {
  margin: 3rem;
  background-color: #323536;
  border-radius: 2rem;
  padding: 2rem;
  color: #ffffff;
  font-family: inherit;
  box-shadow: 0 2rem 6rem #1a1d1f; }
  .product__part-card-link:link {
    text-decoration: none; }
  .product__part-card-head {
    display: flex;
    border-bottom: 1px solid #ffffff; }
    .product__part-card-head-h1 {
      padding: 1rem 3rem;
      font-family: inherit;
      flex: 0 0 40%;
      text-transform: uppercase; }
  .product__part-card-properties {
    padding: 3rem;
    margin: 2rem; }
    .product__part-card-properties-list {
      list-style: none;
      display: flex; }
    .product__part-card-properties-item {
      flex: 0 0 40%;
      font-size: 2rem;
      font-weight: bold;
      text-transform: uppercase; }
    .product__part-card-properties-detail-list:link {
      text-decoration: none;
      color: #ffffff; }
    .product__part-card-properties-detail-item:link {
      text-decoration: none;
      color: #ffffff; }
    .product__part-card-properties-img {
      max-width: 30rem;
      max-height: 20rem;
      border-radius: 1rem;
      box-shadow: 0.5rem 0.5rem 0.7rem #000000; }

.component-part {
  margin: 2rem;
  padding: 0; }
  .component-part__list {
    display: flex;
    justify-content: flex-start;
    margin: 0;
    padding: 0; }
  .component-part__item {
    padding: 0;
    margin: 0;
    list-style: none; }
  .component-part__btn {
    margin: 0;
    padding: 1rem;
    background-color: #a8a8a8;
    border-style: solid;
    border-color: #727272;
    border-width: 0.1px;
    border-radius: 10% 10% 0 0;
    font-family: inherit;
    font-weight: bold;
    font-size: 1.3rem;
    text-transform: uppercase; }
  .component-part__btn--active {
    background-color: #323536;
    border-color: #323536;
    color: #ffffff;
    box-shadow: 0.5rem -0.5rem 1rem #323536; }
  .component-part__btn:hover {
    background-color: #9b9b9b; }
  .component-part__link:link {
    text-decoration: none; }
  .component-part__add-component-icon {
    height: 2rem;
    width: 2rem;
    fill: #9b9b9b; }
  .component-part__edit-component-icon, .component-part__delete-component-icon {
    height: 2rem;
    width: 2rem;
    fill: #9b9b9b; }
  .component-part__list-edit {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding: 0; }
  .component-part__item-edit {
    padding: 0;
    margin: 0;
    list-style: none; }
  .component-part__view {
    background-color: #323536;
    padding: 3rem; }
  .component-part__table {
    width: 100%; }
  .component-part__table-row:hover {
    background-color: #727272; }
  .component-part__table-header, .component-part__table-item {
    color: #ffffff;
    text-align: center;
    padding: 10px;
    border: 1.5px solid #9b9b9b; }
    .component-part__table-header-no, .component-part__table-item-no {
      width: 5%; }
    .component-part__table-header-partno, .component-part__table-item-partno {
      width: 20%; }
    .component-part__table-header-prob-1, .component-part__table-item-prob-1 {
      width: auto; }
    .component-part__table-header-img, .component-part__table-item-img {
      width: 22%; }
      .component-part__table-header-img-img, .component-part__table-item-img-img {
        height: 5rem; }
    .component-part__table-header-edit, .component-part__table-item-edit {
      width: 10%; }
    .component-part__table-header-no, .component-part__table-header-partno, .component-part__table-header-prob-1, .component-part__table-header-img, .component-part__table-header-edit, .component-part__table-item-no, .component-part__table-item-partno, .component-part__table-item-prob-1, .component-part__table-item-img, .component-part__table-item-edit {
      color: #ffffff;
      font-weight: bold;
      font-size: 1.5rem;
      text-align: center;
      padding: 10px;
      border: 1.5px solid #9b9b9b; }
  .component-part__btn-add {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 10rem;
    background-color: #ffffff;
    border-style: none;
    box-shadow: 0.5rem 0.5rem 0.7rem #000000; }
  .component-part__btn-edit {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 10rem;
    background-color: #ffffff;
    border-style: none;
    box-shadow: 0.5rem 0.5rem 0.7rem #000000;
    flex: 0 0 50%; }
  .component-part__btn-edit:hover {
    background-color: #ffd900; }
  .component-part__btn-delete {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 10rem;
    background-color: #ffffff;
    border-style: none;
    box-shadow: 0.5rem 0.5rem 0.7rem #000000;
    flex: 0 0 50%; }
  .component-part__btn-delete:hover {
    background-color: #880000; }
  .component-part__input-partNo, .component-part__input-length {
    margin: 0;
    width: 80%;
    height: 2rem;
    border-style: none;
    border-radius: 5px;
    padding: 1.5rem;
    font-size: 1.5rem; }
    .component-part__input-partNo:focus, .component-part__input-length:focus {
      border-style: none; }
  .component-part__input-img {
    background-color: #ffffff;
    margin: 0;
    width: 80%;
    height: 2.7rem;
    padding: 0;
    font-size: 1.5rem;
    border-radius: 5px;
    border-style: none;
    color: #323536; }

.content {
  margin-top: 0;
  display: flex; }

.sidebar {
  background-color: #323536;
  flex: 0 0 20%; }

.qpoint-view {
  background-color: #9b9b9b;
  flex: 1; }

.sidebar-form {
  flex: 0 0 40%;
  display: flex;
  align-items: center;
  justify-content: center; }
  .sidebar-form__search-input {
    background-color: #ffffff;
    font-family: inherit;
    border-radius: 10rem;
    border-style: none;
    margin: 0.5rem -2.5rem 0.5rem 0rem;
    padding: 0.5rem;
    font-size: 1.3rem; }
    .sidebar-form__search-input:focus {
      outline: none; }
  .sidebar-form__search-button {
    border: none;
    background-color: #ffffff;
    border-radius: 50%; }
  .sidebar-form__search-icon {
    height: 2rem;
    width: 2rem; }

.sidebar-content {
  display: flex;
  width: inherit; }

.side-nav {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  font-weight: bolder;
  list-style: none;
  height: 70rem; }
  .side-nav__item {
    position: relative; }
    .side-nav__item:not(:last-child) {
      margin-bottom: 0.5rem; }
  .side-nav__item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: #880000;
    transform: scaleY(0);
    transform-origin: center;
    transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s; }
  .side-nav__item:hover::before {
    transform: scaleY(1);
    width: 100%; }
  .side-nav__link:link, .side-nav__link:visited {
    display: block;
    color: #ffffff;
    text-decoration: none;
    padding: 0.5rem 3.5rem;
    position: relative;
    z-index: 10px; }

.sidebar-content {
  display: flex;
  margin-right: 0.3rem;
  width: inherit;
  height: inherit;
  overflow-y: scroll;
  scrollbar-color: rebeccapurple green;
  scrollbar-width: thin; }

.qpoint-heading {
  font-family: inherit; }
  .qpoint-heading__head {
    font-size: 3rem;
    box-shadow: 0 2rem 6rem #1a1d1f;
    display: flex;
    background-color: #a8a8a8;
    padding: 1.5rem 0 1.5rem 2rem; }
  .qpoint-heading__model {
    flex: 1, 0, 100%; }
  .qpoint-heading__part-no, .qpoint-heading__pipe, .qpoint-heading__model {
    margin-right: 1rem; }

.qpoint-viewer__card {
  margin: 3rem;
  padding: 1rem;
  flex: 0, 0, 100%;
  background-color: #ffffff;
  box-shadow: 0 2rem 6rem #1a1d1f;
  display: flex;
  align-content: center;
  justify-content: center; }

.qpoint-viewer__img {
  max-width: 80rem; }

.core-detail {
  margin: 0;
  padding: 1rem; }
  .core-detail__btn-edit {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 10rem;
    background-color: #ffffff;
    border-style: none;
    box-shadow: 0.5rem 0.5rem 0.7rem #000000;
    flex: 0 0 50%;
    margin: 0 1rem; }
  .core-detail__btn-edit:hover {
    background-color: #ffd900; }
  .core-detail__btn-delete {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 10rem;
    background-color: #ffffff;
    border-style: none;
    box-shadow: 0.5rem 0.5rem 0.7rem #000000;
    flex: 0 0 50%;
    margin: 0 1rem; }
  .core-detail__btn-delete:hover {
    background-color: #880000; }
  .core-detail__edit-component-icon, .core-detail__delete-component-icon {
    height: 2rem;
    width: 2rem;
    fill: #9b9b9b; }
  .core-detail__list {
    font-family: inherit;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    justify-content: space-around; }
  .core-detail__item {
    background-color: #323536;
    box-shadow: 0 2rem 6rem #1a1d1f;
    border-radius: 1rem;
    list-style: none;
    width: 25rem;
    margin: 2rem;
    padding: 1rem;
    transition: 0.2s; }
    .core-detail__item:hover {
      transform: translateY(-3px);
      box-shadow: 1rem 3rem 6rem #1a1d1f; }
  .core-detail__item--new {
    background-color: #ffffff;
    box-shadow: 0 2rem 6rem #1a1d1f;
    border-radius: 1rem;
    list-style: none;
    width: 25rem;
    margin: 2rem;
    padding: 1rem; }
  .core-detail__info {
    padding: 0rem;
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .core-detail__search-icon--newCore {
    fill: #9b9b9b;
    max-width: 10rem;
    margin: 12rem 7rem; }
  .core-detail__info--addnewCore {
    padding: 0rem;
    margin: 2rem 0;
    display: flex;
    justify-content: center;
    align-content: center; }
  .core-detail__list-info {
    padding: 1rem;
    margin: 0; }
  .core-detail__list-info-item {
    text-decoration: none;
    list-style: none;
    color: #ffffff;
    font-size: 2rem;
    padding-top: 0.6rem; }
    .core-detail__list-info-item:not(:last-child) {
      padding-bottom: 0.6rem;
      border-bottom: 1px solid #a8a8a8; }
    .core-detail__list-info-item-btn {
      margin: 0;
      padding-top: 1.5rem;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      border-top: 1px solid #a8a8a8; }
  .core-detail__img {
    max-width: 20rem;
    max-height: 15rem;
    margin: 1.5rem;
    align-self: center; }
  .core-detail__heading {
    font-family: Verdana;
    flex: 5;
    font-weight: bold;
    align-self: center;
    color: #ffffff;
    padding: 0 1rem; }
  .core-detail__link:link {
    text-decoration: none; }

.component-part {
  margin: 2rem;
  padding: 0; }
  .component-part__list {
    display: flex;
    justify-content: flex-start;
    margin: 0;
    padding: 0; }
  .component-part__item {
    padding: 0;
    margin: 0;
    list-style: none; }
  .component-part__btn {
    margin: 0;
    padding: 1rem;
    background-color: #a8a8a8;
    border-style: solid;
    border-color: #727272;
    border-width: 0.1px;
    border-radius: 10% 10% 0 0;
    font-family: inherit;
    font-weight: bold;
    font-size: 1.3rem;
    text-transform: uppercase; }
  .component-part__btn--active {
    background-color: #323536;
    border-color: #323536;
    color: #ffffff;
    box-shadow: 0.5rem -0.5rem 1rem #323536; }
  .component-part__btn:hover {
    background-color: #9b9b9b; }
  .component-part__link:link {
    text-decoration: none; }
  .component-part__add-component-icon {
    height: 2rem;
    width: 2rem;
    fill: #9b9b9b; }
  .component-part__edit-component-icon, .component-part__delete-component-icon {
    height: 2rem;
    width: 2rem;
    fill: #9b9b9b; }
  .component-part__list-edit {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding: 0; }
  .component-part__item-edit {
    padding: 0;
    margin: 0;
    list-style: none; }
  .component-part__view {
    background-color: #323536;
    padding: 3rem; }
  .component-part__table {
    width: 100%; }
  .component-part__table-row:hover {
    background-color: #727272; }
  .component-part__table-header, .component-part__table-item {
    color: #ffffff;
    text-align: center;
    padding: 10px;
    border: 1.5px solid #9b9b9b; }
    .component-part__table-header-no, .component-part__table-item-no {
      width: 5%; }
    .component-part__table-header-partno, .component-part__table-item-partno {
      width: 20%; }
    .component-part__table-header-prob-1, .component-part__table-item-prob-1 {
      width: auto; }
    .component-part__table-header-img, .component-part__table-item-img {
      width: 22%; }
      .component-part__table-header-img-img, .component-part__table-item-img-img {
        height: 5rem; }
    .component-part__table-header-edit, .component-part__table-item-edit {
      width: 10%; }
    .component-part__table-header-no, .component-part__table-header-partno, .component-part__table-header-prob-1, .component-part__table-header-img, .component-part__table-header-edit, .component-part__table-item-no, .component-part__table-item-partno, .component-part__table-item-prob-1, .component-part__table-item-img, .component-part__table-item-edit {
      color: #ffffff;
      font-weight: bold;
      font-size: 1.5rem;
      text-align: center;
      padding: 10px;
      border: 1.5px solid #9b9b9b; }
  .component-part__btn-add {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 10rem;
    background-color: #ffffff;
    border-style: none;
    box-shadow: 0.5rem 0.5rem 0.7rem #000000; }
  .component-part__btn-edit {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 10rem;
    background-color: #ffffff;
    border-style: none;
    box-shadow: 0.5rem 0.5rem 0.7rem #000000;
    flex: 0 0 50%; }
  .component-part__btn-edit:hover {
    background-color: #ffd900; }
  .component-part__btn-delete {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 10rem;
    background-color: #ffffff;
    border-style: none;
    box-shadow: 0.5rem 0.5rem 0.7rem #000000;
    flex: 0 0 50%; }
  .component-part__btn-delete:hover {
    background-color: #880000; }
  .component-part__input-partNo, .component-part__input-length {
    margin: 0;
    width: 80%;
    height: 2rem;
    border-style: none;
    border-radius: 5px;
    padding: 1.5rem;
    font-size: 1.5rem; }
    .component-part__input-partNo:focus, .component-part__input-length:focus {
      border-style: none; }
  .component-part__input-img {
    background-color: #ffffff;
    margin: 0;
    width: 80%;
    height: 2.7rem;
    padding: 0;
    font-size: 1.5rem;
    border-radius: 5px;
    border-style: none;
    color: #323536; }

.create-core {
  margin: 3rem;
  padding: 3rem;
  font-family: inherit;
  color: #ffffff;
  background-color: #323536;
  border-radius: 2rem;
  box-shadow: 0 2rem 6rem #1a1d1f; }
  .create-core__h3 {
    font-weight: bold;
    text-transform: uppercase; }
  .create-core__properties-list {
    font-family: inherit;
    font-size: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    list-style: none; }
  .create-core__properties-item {
    flex: 0 0 50%;
    padding: 1.5rem;
    display: flex; }
  .create-core__properties-label {
    flex: 0 0 25%;
    text-transform: uppercase; }
  .create-core__properties-input-text, .create-core__properties-input-file {
    padding: 0 1rem;
    background-color: #ffffff;
    border-radius: 10rem;
    width: 70%;
    height: 3rem;
    border-style: solid;
    border-color: #a8a8a8;
    border-width: 1px;
    color: #000000; }
  .create-core__component-list {
    font-family: inherit;
    font-size: 1.5rem;
    display: flex;
    flex-wrap: wrap; }
  .create-core__component-item {
    flex: 0 0 100%;
    padding: 1.5rem;
    display: flex; }
  .create-core__component-label {
    flex: 0 0 20%;
    text-transform: uppercase; }
  .create-core__component-select, .create-core__component-input-text {
    padding: 0 1rem;
    width: 70%;
    margin: 0 2rem;
    height: 3rem;
    border-style: solid;
    border-color: #a8a8a8;
    border-width: 1px;
    background-color: #ffffff;
    border-radius: 10rem; }
  .create-core__component-combind-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0; }
  .create-core__component-combind-item {
    flex: 0 0 45%;
    margin: 0 2rem;
    display: flex;
    align-content: center;
    padding-bottom: 3rem; }
  .create-core__component-combind-label {
    min-width: 13rem;
    height: 3rem;
    background-color: #ffffff;
    color: #000000;
    border-radius: 10rem 0 0 10rem;
    padding: 0 1rem;
    border-style: solid;
    border-color: #a8a8a8;
    border-width: 1px;
    align-self: center; }
  .create-core__component-combind-input-text {
    padding: 0 1rem;
    width: 70%;
    height: 3rem;
    background-color: #ffffff;
    color: #000000;
    border-style: solid;
    border-color: #a8a8a8;
    border-width: 1px;
    border-radius: 0 10rem 10rem 0; }
  .create-core__component-item-button {
    list-style: none;
    display: flex;
    justify-content: center; }
  .create-core__btn {
    border-radius: 10rem;
    border-style: none;
    background-color: #880000;
    box-shadow: 0.5rem 0.5rem 0.7rem #000000;
    transition: 0.2s; }
    .create-core__btn:hover {
      transform: translateY(-2px); }
    .create-core__btn-icon {
      height: 4rem;
      fill: #ffffff; }

.qpointlist {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  font-family: inherit; }

.qpoint-card {
  margin: 3rem;
  background-color: #323536;
  color: #ffffff;
  display: flex;
  border-radius: 2rem;
  box-shadow: 0 2rem 6rem #1a1d1f;
  flex: 0 0 45%;
  flex-wrap: wrap;
  transition: 0.2s; }
  .qpoint-card__head {
    flex: 0 0 100%;
    text-align: center;
    margin: 1.5rem s;
    padding: 1.5rem;
    border-bottom: 1px solid #a8a8a8; }
  .qpoint-card__img {
    width: 25rem;
    max-height: 19rem; }
  .qpoint-card__list {
    list-style: none;
    padding: 1rem;
    display: flex; }
  .qpoint-card__item {
    margin: 0.5rem;
    font-family: inherit;
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    flex: 0 0 50%; }
  .qpoint-card__detail-item {
    margin: 0rem;
    padding: 1rem; }
  .qpoint-card__detail-list {
    margin: 0rem; }
  .qpoint-card__newQpoint {
    display: flex;
    justify-content: space-around;
    flex: 0 0 100%; }
  .qpoint-card__newQpoint-icon {
    max-width: 10rem;
    fill: #9b9b9b; }
  .qpoint-card__button {
    display: flex;
    margin-top: 3rem;
    margin-right: 2rem;
    align-content: flex-end;
    justify-content: flex-end;
    flex: 0 0 100%; }
  .qpoint-card__btn-edit {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 10rem;
    background-color: #ffffff;
    border-style: none;
    box-shadow: 0.5rem 0.5rem 0.7rem #000000;
    flex: 0 0 50%;
    margin: 0 1rem; }
  .qpoint-card__btn-edit:hover {
    background-color: #ffd900; }
  .qpoint-card__btn-delete {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 10rem;
    background-color: #ffffff;
    border-style: none;
    box-shadow: 0.5rem 0.5rem 0.7rem #000000;
    flex: 0 0 50%;
    margin: 0 1rem; }
  .qpoint-card__btn-delete:hover {
    background-color: #880000; }
  .qpoint-card__edit-icon, .qpoint-card__delete-icon {
    height: 2rem;
    width: 2rem;
    fill: #9b9b9b; }
  .qpoint-card__link-edit, .qpoint-card__link-delete {
    text-decoration: none; }
  .qpoint-card__newQpoint-link:link {
    text-decoration: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    flex: 0 0 100%; }
  .qpoint-card:hover {
    transform: translateY(-3px);
    box-shadow: 1rem 3rem 6rem #1a1d1f; }

.update-qpoint {
  position: relative;
  margin: 6rem 3rem;
  padding: 2rem;
  background: #323536;
  color: #ffffff;
  font-family: inherit;
  border-radius: 2rem;
  box-shadow: 0 2rem 6rem #1a1d1f;
  display: flex; }
  .update-qpoint__head {
    text-transform: uppercase;
    flex: 0 0 20%; }
  .update-qpoint__block {
    display: flex;
    justify-content: center;
    flex: 0 0 100%;
    flex-wrap: wrap; }
  .update-qpoint__list {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap; }
  .update-qpoint__item {
    display: flex;
    flex: 0 0 80%;
    align-items: center; }
  .update-qpoint__form {
    font-size: 1.7rem;
    display: flex; }
  .update-qpoint__label-text, .update-qpoint__label-select, .update-qpoint__label-file {
    flex: 0 0 20%; }
  .update-qpoint__input-text, .update-qpoint__input-file, .update-qpoint__select {
    background-color: #ffffff;
    margin: 1.5rem;
    color: #000000;
    border-radius: 10rem;
    padding: 0 1.5rem; }
  .update-qpoint__btn {
    flex: 0 0 50%;
    margin: 2rem 2rem;
    padding: 0.5rem 0rem;
    text-transform: uppercase;
    font-family: inherit;
    font-weight: bold;
    color: #ffffff;
    border-radius: 10rem;
    background-color: #880000;
    border-style: none;
    box-shadow: 0.5rem 0.5rem 0.7rem #000000; }

.update-component {
  margin: 2rem;
  padding: 3rem;
  background-color: #323536;
  color: #ffffff;
  font-family: inherit;
  font-size: 1.5rem;
  display: flex;
  flex-wrap: wrap; }
  .update-component__block-header {
    margin: 1rem;
    display: flex;
    flex: 0 0 100%;
    justify-content: center;
    width: 50%; }
  .update-component__head {
    flex: 0 0 95%;
    justify-content: center;
    text-align: center;
    text-transform: uppercase; }
  .update-component__btn-close {
    flex: 0 0 7%;
    border-radius: 10rem;
    border-style: none;
    box-shadow: 0.5rem 0.5rem 0.7rem #000000;
    text-transform: uppercase;
    font-size: 1rem;
    margin-right: 1.5rem;
    padding: 0.5rem 1rem;
    font-weight: bold; }
    .update-component__btn-close:hover {
      background-color: #880000;
      color: #ffffff; }
  .update-component__block {
    margin: 1rem;
    display: flex;
    flex: 0 0 100%;
    justify-content: center;
    width: 50%; }
  .update-component__list {
    display: flex;
    flex-wrap: wrap;
    list-style: none; }
  .update-component__item {
    flex: 0 0 100%;
    display: flex;
    justify-content: space-around;
    margin: 1rem;
    font-size: 2rem; }
  .update-component__label {
    flex: 0 0 10%;
    color: #ffffff; }
  .update-component__input-text, .update-component__input-file {
    flex: 0 0 70%;
    font-size: 1.7rem;
    border-radius: 10rem;
    background-color: #ffffff;
    color: #000000; }
  .update-component__input-text {
    padding: 0 1rem;
    border-style: none; }
  .update-component__btn {
    border-radius: 10rem;
    border-style: none;
    box-shadow: 0.5rem 0.5rem 0.7rem #000000;
    text-transform: uppercase;
    font-size: 1.7rem;
    padding: 0.5rem 1.5rem;
    font-weight: bold; }
    .update-component__btn:hover {
      background-color: #880000;
      color: #ffffff; }
