///////this page link to all element in
//////////// innerfintube.pug page
////////////    >_componentHeader.pug
////////////    >_componentTable.pug
@import "../abstracts/variables";

.component-part {
  margin: 2rem;
  padding: 0;

  &__list {
    display: flex;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
  }

  &__item {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  &__btn {
    margin: 0;
    padding: 1rem;
    background-color: $color-gray-light;
    border-style: solid;
    border-color: $color-gray-light-2;
    border-width: 0.1px;
    border-radius: 10% 10% 0 0;

    font-family: inherit;
    font-weight: bold;
    font-size: 1.3rem;

    text-transform: uppercase;
  }

  &__btn--active {
    background-color: $color-gray-dark;
    border-color: $color-gray-dark;
    color: $color-white;
    box-shadow: $color-shadow-tab;
  }

  &__btn:hover {
    background-color: $color-gray-light-1;
  }

  &__link:link {
    text-decoration: none;
  }

  ////////////////table view////////////////

  &__view {
    background-color: $color-gray-dark;
    padding: 3rem;
  }

  &__table {
    // padding: 5rem;
    width: 100%;
  }

  &__table-row:hover {
    background-color: $color-gray-light-2;
  }

  &__table-header,
  &__table-item {
    color: $color-white;
    text-align: center;
    padding: 10px;
    border: 1.5px solid $color-gray-light-1;

    &-no {
      width: 5%;
    }

    &-partno {
      width: 35%;
    }

    &-prob-1 {
      width: auto;
    }

    &-no,
    &-partno,
    &-prob-1 {
      color: $color-white;
      font-weight: bold;
      font-size: 1.5rem;
      text-align: center;
      padding: 10px;
      border: 1.5px solid $color-gray-light-1;
    }
  }

  &__btn-add {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 10rem;
    background-color: $color-white;
    border-style: none;
    box-shadow: $color-shadow-btn;
  }

  &__input {
    &-partNo,
    &-length {
      margin: 0;
      width: 80%;
      height: 2rem;
      border-style: none;
      border-radius: 5px;
      padding: 1.5rem;
      font-size: 1.5rem;

      &:focus {
        border-style: none;
      }
    }
  }
}
