@import "../abstracts/variables";

////////////////////////
//Overall layout for Home page

.content {
  margin-top: 0;
  display: flex;
}

.sidebar {
  background-color: $color-gray-dark;
  flex: 0 0 20%;
}

.qpoint-view {
  background-color: $color-gray-light-1;
  flex: 1;
}

/////////////////////
//Side Navigation

.sidebar-form {
  flex: 0 0 40%;
  // justify-content: space-around;

  display: flex;
  align-items: center;
  justify-content: center;

  &__search-input {
    // flex: 0 0 60%;
    background-color: $color-white;
    font-family: inherit;
    border-radius: 10rem;
    border-style: none;
    margin: 0.5rem -2.5rem 0.5rem 0rem;
    padding: 0.5rem;
    font-size: 1.3rem;

    &:focus {
      outline: none;
    }
  }

  &__search-button {
    border: none;
    background-color: $color-white;
    border-radius: 50%;
  }

  &__search-icon {
    height: 2rem;
    width: 2rem;
  }
}

.sidebar-content {
  display: flex;
  width: inherit;
}

.side-nav {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  font-weight: bolder;
  list-style: none;
  height: 70rem;

  &__item {
    position: relative;

    &:not(:last-child) {
      margin-bottom: 0.5rem;
    }
  }

  &__item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: $color-red-light;
    transform: scaleY(0);
    transform-origin: center;
    transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s;
  }

  &__item:hover::before {
    transform: scaleY(1);
    width: 100%;
  }

  &__link:link,
  &__link:visited {
    display: block;
    color: $color-white;
    text-decoration: none;
    padding: 0.5rem 3.5rem;
    position: relative;
    z-index: 10px;
  }
}

//////scrollbar/////
.sidebar-content {
  display: flex;
  margin-right: 0.3rem;
  width: inherit;
  height: inherit;
  overflow-y: scroll;
  scrollbar-color: rebeccapurple green;
  scrollbar-width: thin;
}

///////////////////////////////////////////////////
//Q-Point Viewer
.qpoint-heading {
  font-family: inherit;

  &__head {
    font-size: 3rem;

    box-shadow: $color-shadow;
    display: flex;
    background-color: $color-gray-light;
    padding: 1.5rem 0 1.5rem 2rem;
  }
  &__model {
    flex: 1, 0, 100%;
  }

  &__part-no,
  &__pipe,
  &__model {
    margin-right: 1rem;
    // font-family: inherit;
  }
}

.qpoint-viewer {
  &__card {
    margin: 3rem;
    padding: 1rem;
    flex: 0, 0, 100%;
    // width: inherit;
    background-color: $color-white;
    box-shadow: $color-shadow;

    display: flex;
    align-content: center;
    justify-content: center;
  }

  &__img {
    max-width: 80rem;
  }
}
